
@font-face {
    font-family: 'dunkin_sansregular';
    src: url('./dunkin_sans-webfont.woff2') format('woff2'),
         url('./dunkin_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}