@font-face {
    font-family: 'dunkin_sansregular';
    src: url('./assets/font/dunkin_sans-webfont.woff2') format('woff2'),
         url('./assets/font/dunkin_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#force-font-loading{ font-family: dunkin_sansregular; }

body {
    display: flex;
}
#mainScene{ height: 100%; width: 100%; }
* {
    box-sizing: border-box;
    font-family:Impact, Charcoal, sans-serif
}

.fullscreen{
	width:100%;
    flex-basis: 100%;
    flex-grow: 1;
	background-image:url(./assets/background/waves.png);
	background-color:#6dbd9a;
	background-size:520px 520px;
	animation: anim 10s infinite linear;
}

@keyframes anim{
	0%{

		background-position:0 0;

	}
	100%{

		background-position:520px 520px;

	}
}
.center{
	margin:auto;
	padding-top:30px;
	width:40%;
	text-align:center;
}

#playerName{

	border: 3px solid white;
	background-color:rgba(0,0,0,0);
	border-radius: 15px;
	display:block;
	margin:auto;
	margin-top: 50px;
	padding-left: 10px;
	height:60px;
	font-size:26px;
	font-weight:bold;
	color:white;
	text-transform:uppercase;
	width:100%;
}

#playerName:focus{
	outline:none;

}
#playerName::-webkit-input-placeholder { /* Chrome/Opera/Safari /
	font-size:26px;
	font-weight:bold;
	color:#1f8989;
}
#playerName::-moz-placeholder { / Firefox 19+ /
	font-size:26px;
	font-weight:bold;
	color:#1f8989;
}
#playerName::-ms-input-placeholder { / IE 10+ /
	font-size:26px;
	font-weight:bold;
	color:#1f8989;
}
#playerName::-moz-placeholder { / Firefox 18- */
	font-size:26px;
	font-weight:bold;
	color:#1f8989;
}
#connectButton{
	margin-top:50px;
	margin-bottom:20px;
	font-size:24px;
	width:100%;
	height:60px;
	border-radius:15px;
	border:none;
	background-color:#1f8989;
	color:white;
	font-weight:bold;
	padding-top:5px;
}
#connectButton:active{
	background-color:#197272;
}
#connectButton:focus{
	outline:none;

}

#title{
	width:100%;
}

#player-list ul{
	width:100%;
	list-style-type:none;
	padding-left:0px;
}
.itemPlayerName{
	font-size:26px;
	list-style-type:none;
	padding-left:0px;
	height:38px;
	padding-top:12px;
	font-weight:bold;
	text-transform:uppercase;
	color:#1f8989;

}

.logocheck{
	margin-right:10px;
	height:22px;
}
.playerReady{
	color:white;
}

#readyButton{
	margin-top:0px;
	margin-bottom:20px;
	font-size:24px;
	width:100%;
	height:60px;
	border-radius:15px;
	border:none;
	background-color:#e26078;
	color:white;
	font-weight:bold;
	padding-top:5px;
}
#readyButton:active{
	background-color:#c94c67;
}
#readyButton:focus{
	outline:none;

}
#readyButton.readyButtonClicked{
	font-size: 18px;
	background-color:rgba(31,137,137,0.6);
	enable:false;

}









@media only screen and (max-width:600px){
.center{
	margin:auto;
	padding-top:20%;
	width:80%;
	text-align:center;
}
}


#vrButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
#vrButton > svg {
    width: 50px;
    height: 50px;
    fill: #fff;
}